/*  your css code here. If applicable */
#eg-1{
	color: #2a7ae2;
}
/*  your css code here. If applicable */
#eg-2{
	color: #f44336;
}
/*  your css code here. If applicable */
#eg-3{
	color: #4caf50;
}
/*  your css code here. If applicable */
#eg-4{
	color: #ff9800;
}
/*  your css code here. If applicable */
#eg-5{
	color: #607d8b;
}
/*  your css code here. If applicable */
#eg-6{
	color: #ffeb3b;
}

